//----------------------------------------
//  Core
//----------------------------------------

@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

body {
  margin: 0;
  color: $primary-text-color;
  font-size: 12px;
  font-family: 'BackIssuesBB', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
