<div class="list-container">

  <div class="panel">
    <img src="assets/img/1.jpg" />
    <p class="text top-left">22/10/2019</p>
    <p class="text bottom-right">Asterix Le Gaulois</p>
  </div>

  <div class="panel">
    <p class="text top-left">Suddenly...</p>
    <p class="text bottom-right">...something amazing happened</p>
  </div>


  <div class="panel">
    <p class="text top-left">Suddenly...</p>
    <p class="text bottom-right">...something amazing happened</p>
  </div>


  <div class="panel">
    <p class="text top-left">Suddenly...</p>
    <p class="text bottom-right">...something amazing happened</p>
  </div>


  <div class="panel">
    <p class="text top-left">Suddenly...</p>
    <p class="text bottom-right">...something amazing happened</p>
  </div>

</div>
