<div class="search-container">
  <input type="text" placeholder="Rechercher" [formControl]="search" />
</div>

<ng-container *ngIf="comics$ | async as comics">
  <div class="list-container" *ngIf="comics.length > 0; else noData">
    <comics-comic-tile
      *ngFor="let comic of comics"
      [comic]="comic"
      [routerLink]="[ '/detail', comic.id ]"
      (delete)="onDeleteComic($event)"
    ></comics-comic-tile>
  </div>

  <ng-template #noData>
    <p class="error">Damned, pas de comics en vue !</p>
  </ng-template>

</ng-container>
