//----------------------------------------
//  List
//----------------------------------------

.search-container {
  padding: 0 8px;
  margin-bottom: 32px;

  input {
    width: 100%;
  }

}

.list-container {
  display: flex;
  flex-wrap: wrap;
}

.error {
  display: flex;
  justify-content: center;
  margin-top: 300px;
  color: indianred;
  font-size: 2rem;
}
