//----------------------------------------
//  Colors
//----------------------------------------

$color-1: #4C69F6;
$color-2: #4C94F6;
$color-3: #F6DB35;
$color-4: #FFC510;
$color-5: #EE5454;

$primary-text-color: #212121;
