//----------------------------------------
//  Sidenav
//----------------------------------------
@import '../../css/abstracts/colors';

//----------------------------------------

:host {
  background-color: $color-5;
  border-right: 5px solid $color-1;

  .btn {
    margin: 16px 16px 24px;
  }

  .categories {
    display: flex;
    flex-direction: column;
    margin-left: 24px;

    a {
      position: relative;
      display: flex;
      align-items: center;
      height: 52px;
      padding-left: 16px;
      color: #FFFFFF;
      font-size: 1.125rem;
      transition: .25s;

      &.selected,
      &:hover {
        background-color: $color-1;

        &:before {
          border-bottom-color: $color-1;
        }

      }

      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        left: -15px;
        border-bottom: 52px solid transparent;
        border-left: 15px solid transparent;
        transition: .25s;
      }

    }

  }

}
