//----------------------------------------
//  Comic tile
//----------------------------------------

$screen-recommended-size: 1400px;

//----------------------------------------

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 200px;
  margin: 8px;
  background-color: #FFFFFF;
  border: solid 2px #000000;
  box-shadow: 0 6px 6px -6px #000000;
  transition: box-shadow 0.20s, transform 0.10s;

  &:hover {
    box-shadow: 0 8px 12px -6px #000000;
    transform: scale(1.05);
  }

  @media screen and (min-width: $screen-recommended-size) {
    width: calc(20% - 16px);
  }

  @media screen and (max-width: $screen-recommended-size) {
    width: calc(25% - 16px);
  }

  img {
    height: 80%;

    &.trash {
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 5px;
      height: 30px;
    }

  }

  .text {
    margin: 0;
    padding: 4px 12px;
    background-color: #FFFFFF;
    border: solid 2px #000000;
  }

  .top-left {
    position: absolute;
    top: -2px;
    left: -6px;
    transform: skew(-15deg);
  }

  .bottom-right {
    position: absolute;
    right: -6px;
    bottom: -2px;
    transform: skew(-15deg);
  }

  &:nth-child(8n+1) { background-image: radial-gradient(circle, yellow, orange); }
  &:nth-child(8n+2) { background-image: radial-gradient(circle, lightblue, deepskyblue); }
  &:nth-child(8n+3) { background-image: radial-gradient(circle, palegreen, yellowgreen); }
  &:nth-child(8n+4) { background-image: radial-gradient(circle, lightcoral, tomato); }
  &:nth-child(8n+5) { background-image: radial-gradient(circle, #F0B2EF, #FF14DC); }
  &:nth-child(8n+6) { background-image: radial-gradient(circle, #20C7B9, #148C74); }
  &:nth-child(8n+7) { background-image: radial-gradient(circle, #CFCFCF, #9E9E9E); }
  &:nth-child(8n+8) { background-image: radial-gradient(circle, #C99D20, #94390C); }

}
